@model FirstApp.Models.Student
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="col-lg-3" style="margin-bottom: 20px">
    <img src="@Model.Avatar" class="img-thumbnail" style="width: 300px; height: 300px" alt="@Model.LastName" /> 
    <h4>Name: @Model.LastName</h4>
    <p>FirstMidName: @Model.FirstMidName</p>
    <p>Count of misses: @Model.Misses</p>
    <p>Date: @Model.EnrollmentDate.ToLongDateString()</p>

    <a class="btn btn-warning"
       asp-controller="StudentsCart"
       asp-action="AddToCart"
       asp-route-id="@Model.Id">
        Добавить в список
    </a>
</div>