@model IEnumerable<FirstApp.Models.Student>

<h1>All items:</h1>
<div class="row mt-5 mt-2">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-4" style="margin-bottom: 20px">
                <img src="@item.Avatar" class="img-thumbnail" style="width: 300px; height: 300px" alt="@item.LastName">
                <h3>Name: @item.LastName</h3>
                <p>FirstMidName: @item.FirstMidName</p>
                <p>Date: @item.EnrollmentDate.ToLongDateString()</p>
            </div>
        }
    }
    </div>